html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, p, a {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.title {
    font-family: 'Raleway', sans-serif;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: 100;
    text-align: left;
}

.darkFont {
    color: #34495e;;
}

.lightFont {
    color: #F1FFFA;;
}

.offWhite {
    background-color: #F1FFFA;
}

.firstBackground {
    background-color: #4D7EA8;
}

.secondBackground {
    background-color: #828489;
}

.thirdBackground {
    background-color: #9E90A2;
}

#logo {
    height: 150px;
}

.containerCentering {
    position: relative;
    height: calc(100%);
}

.topLeft {
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.centerCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.centerLeftCol {
    position: absolute;
    float: left;
    top: 50%;
    left: 40%;
    width: 40%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.centerRightCol {
    position: absolute;
    float: right;
    top: 50%;
    left: 80%;
    width: 40%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.centerBottom {
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.about-image img {
    width: 30%;
    padding: 10%;
}

.img-circle {
  border-radius: 40%;
}