body {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}


h1 {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    font-size: 120px;
    font-weight: 100;
    text-align: left;
}

h1 span {
    font-weight: 700;
}

h2 {
    font-size: 48px;
    font-family: 'Lovelo';
}

p {
    font-size:21px;
    -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
    font-family: Lovelo;
    src: url("../fonts/Lovelo_Black") /* EOT file for IE */
}
@font-face {
    font-family: Lovelo;
    src: url("../fonts/Lovelo_Black.ttf") /* TTF file for CSS3 browsers */
}

p, ul {
    font-family: 'Open Sans';
}

a:visited{
  color:#FFFFFF;
}

a:link{
  color:#E0E0E0;
}

.container {
    position:absolute;
    top:50%;
    left:50%;
    margin:-250px 0 0 -512px;
    width:1024px;
    height: 500px;
}



/*TITLE COVER*/
    #title {
        background-color: #2980b9;
    }

    #title .header {
        position:absolute;
        top:30%;
        left:50%;
        margin:-0px 0 0 -400px;
        width:800px;
        text-align:center;
    }

    #title img {
        position: absolute;
        bottom: 10px;
        left:50%;
        margin: 0 0 0 -44px;
    }

    #title #scroll-text {
        display: none;
        position: absolute;
        bottom: 70px;
        left:50%;
        margin: 0 0 0 -44px;
    }

    .container {
        margin:-35% 0 0 -40%;
        width:85%; height: 85%;
    }

    .text {
        margin: 15% 0 0 0;
        text-align: left;
        width: 50%;
        float: left;
    }

    /*ABOUT*/
    #about {
        background-color: #34495e;
    }

    #about .about-image img {
        float: right;
        margin: 20% 0 0 0;
        border-radius: 20%;
    }

    /*TUTORING*/
    #tutoring {
        background-color: #1abc9c;
    }

    #tutoring .text {
        width: 33%;
    }

    #tutoring #review-list {
        float: right;
        margin-top: 20%;
        margin-right: -5%;
        width: 66%;
    }

    #tutoring li {
        margin-bottom: 3%;
    }

    /*CONTACT*/
    #contact {
        background-color: #27ae60;
    }

    #image-links {
        width: 540px;
        margin-top: 50%;
        margin-left: auto;
        margin-right: auto;

        text-align: justify;
        -ms-text-justify: distribute-all-lines;
        text-justify: distribute-all-lines;
    }

    #image-links a {
        vertical-align: top;
        display: inline-block;
        *display: inline;
        zoom: 1;
    }

    #image-links img:hover {
        opacity: 0.6;
    }

    .stretch {
        width: 100%;
        display: inline-block;
        font-size: 0;
        line-height: 0
    }
