html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, p, a {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.title {
    width: 350px;
    height: 100px;
    position: relative;
}

.titleText {
    font-family: 'Raleway', sans-serif;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin-left: 130px;
    padding: 0;
    font-size: 60px;
    font-weight: 100;
    text-align: left;
    color: white;
}

.titlePicture {
    position: absolute;
    width: 120px;
    top: 10px;
    border-radius: 20%;
}

.darkFont {
    color: #34495e;
}

#logo {
    height: 150px;
}

#header {
    float: left;
    height: 150px;
    width: calc(100%);
    margin: 0px;
    padding: 40px;
    background: #34495e
}

#container {
    float: left;
    height: 800px;
    width: calc(80%);
    margin-left: 100px;
    margin-top: 100px;
}
