<footer id="site-footer">
  {% if page.url != '/index.html' %}<a href="/">Home</a><span class="link-separator">&mdash;</span>{% endif %}{% if page.url != '/about/index.html' %}<a href="/about/">About</a><span class="link-separator">&mdash;</span>{% endif %}{% if page.url != '/tutoring/index.html' %}<a href="/tutoring/">Tutoring</a><span class="link-separator">&mdash;</span>{% endif %}<a href="/static/pdf/resume.pdf">Resume</a><span class="link-separator">&mdash;</span><a href="mailto:riyazdf@gmail.com">Contact</a>
</footer>
