<footer id="site-footer">
  {% if page.url != '/index.html' %}<a href="/">Home</a><span class="link-separator">&mdash;</span>{% endif %}{% if page.url != '/about/index.html' %}<a href="/about/">About</a><span class="link-separator">&mdash;</span>{% endif %}{% if page.url != '/tutoring/index.html' %}<a href="/tutoring/">Tutoring</a><span class="link-separator">&mdash;</span>{% endif %}<a href="/static/pdf/resume.pdf">Resume</a><span class="link-separator">&mdash;</span><a href="mailto:riyazdf@gmail.com">Contact</a>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37523602-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</footer>
