<head>
  <meta charset="utf-8" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet" type="text/css" />
  <link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/syntax.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/page.css" rel="stylesheet" type="text/css" />
  <link href="/static/img/favicon.png" rel="icon" type="image/png" />
</head>
