.site-header {
  font-size: 2.7em;
  padding-top: 5%;
}

#photo {
  position: fixed;
  top: 10%;
  left: 1%;
}

#content {
  width: 600px;
  margin: 40px auto 80px auto;
}

#content p {
  text-align: center;
  line-height: 1.75;
  font-family: 'Share Tech', 'sans-serif';
  font-size: 0.9em;
}

#content p + p {
  margin-top: 1.2em;
}
