body {
  font-family: 'Share Tech', serif;
  background-color: #7AC8FF;
}

#container {
  width: 660px;
  margin: 0 auto;
}

#site-header, #site-footer {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 72px;
  padding-bottom: 72px;
}

#site-header {
  font-size: 2.4em;
  text-shadow: 0 2px 3px #666666;
}

#site-footer {
  font-size: 1.2em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

.link-separator {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.center-outer, .center-inner {
  position: relative;
  float: left;
  clear: both;
}

.center-outer {
  left: 50%;
}

.center-inner {
  left: -50%;
}

.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}

.text-center {
  text-align: center;
}

#image-links a + a img {
  margin-left: 100px;
}

.pf {
  margin-bottom: 25px;
}

.post-content {
  line-height: 1.5;
}

.post-content p {
  font-size: 1em;
  margin-bottom: 1.5em;
}

.post-content dd {
  margin-bottom: 0.5em;
}

.post-content a {
  color: #F5F5F5;
}

.post-content em {
  font-style: italic;
}

.post-content strong {
  font-weight: bold;
}
